apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: profiles-controller-manager
      app.kubernetes.io/instance: profiles-controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
      labels:
        app.kubernetes.io/name: profiles-controller-manager
        app.kubernetes.io/instance: profiles-controller-manager
    spec:
      containers:
      - command:
        - /manager
        - "-userid-header"
        - $(USERID_HEADER)
        - "-userid-prefix"
        - $(USERID_PREFIX)
        - "-workload-identity"
        - $(WORKLOAD_IDENTITY)
        envFrom:
          - configMapRef:
              name: config
        image: ghcr.io/kubeflow/kubeflow/profile-controller
        imagePullPolicy: Always
        name: manager
        livenessProbe:
          httpGet:
            path: /healthz
            port: 9876
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 9876
          initialDelaySeconds: 5
          periodSeconds: 10
        ports:
        - containerPort: 9876
      serviceAccountName: controller-manager
